<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Menu responsive
  body
    div.box1
      <img src="https://s.svgbox.net/hero-outline.svg?ic=menu-alt-1&fill=white">
    div.box2
      <img src="https://s.svgbox.net/hero-outline.svg?fill=805ad5&ic=clipboard-list">
      <img src="https://s.svgbox.net/hero-outline.svg?fill=805ad5&ic=chat">
      <img src="https://s.svgbox.net/hero-outline.svg?fill=805ad5&ic=cog">
      <img src="https://s.svgbox.net/hero-outline.svg?fill=805ad5&ic=fire">
      <img src="https://s.svgbox.net/hero-solid.svg?fill=805ad5&ic=heart">